html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	display: flex;
	background: #E3D5D1; 
}

/*All under wrapper*/
div.wrapper{
	height: 120vh; 
	width: 80%;
	max-width: 700px; 
	margin: auto;
	padding: 1rem;
}

div.menu{
	padding: 50px;
}

button{
  border: 0; 
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer; 
  outline: 0;
  font-size: 1.5rem;
  color: #777;  /*position: absolute;*/
}


header{
	display: flex; 
	/*border: 2px solid black;*/
}

.img-circle{
	width: 200px;
	height: 200px;
	border-radius: 50%; 
	transform: rotate(`180deg);
	margin: 30px;
}

.author{	
	margin-left:20px; 
	padding: 5px;
	display: flex; 
	flex-direction: column;
	justify-content: center; 
}

.name{		
	padding: 5px;
	font-size: 1.8rem; 
	font-weight: normal; 
	color: #777;
	margin-bottom: 5px;
}

.title{
   margin-top: 0px;
   padding: 10px;
   font-size: 1.2rem; 
   color: #fc4a1a;
}

hr{
	height: 10px;
    border: 0;
    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

section.content{
	margin-top: 10px;
	margin-bottom: 50px; 
	padding: 5px;
	font-size: 1.2rem; 
	line-height: 2rem; 
    color: #777;
    font-weight: normal; 
}

ul.icon-list{
	width: 70%; 
	margin: auto;
	list-style: none; 
	display: flex; 
	justify-content: space-around; 
	flex-wrap: wrap;  
}

li{
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 5px;
}



a{
	text-decoration: none; 
	color: #777;
	font-size: 1.2rem;
}

p.second a:hover, a:hover{
	color: #fc4a1a;
}

a.intro{
	color: #777;
}


li.icon-list-item i{
	margin-right: 5px; 
}


/*All under aside element*/

aside{
	width: 250px;
	/*background: #ffc966; */
}


nav.sidemenu{
	margin-top: 40px;
}

ul.sidemenu_primary{
	display: flex;
	flex-direction: column; 
	margin-left: 0;
	justify-content: space-around; 
	list-style: none; 
}

ul.sidemenu_primary > li{
	margin-left: 0; 
	font-size: 1.2rem; 
	font-weight: normal; 
	color: white;
}

@media only screen and (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column; 
    }

    div.wrapper{
    	order: 3;
    }

    div.menu{
    	order: 0;
    	text-align: center; 
    }

    i{
    	text-align: center; 
    }

    aside{
    	order: 2;
    	text-align: center; 
    	width: 100%;
    }

    header{
    	flex-direction: column; 
    	align-items: center; 
    }

    p.name, p.title{
    	text-align: center; 
    }


}

@media only screen and (max-width: 500px) {
    html {
       font-size: 3.8vw;
    }
}




